/* font-family: "Inter", sans-serif;
   font-family: "Outfit", sans-serif; */

body {
    background-color: hsl(330, 100%, 98%);
    height: 100vh;
    display: flex;
    justify-content: center;
}
span{
    font-weight: 700;
}
div.div-principal {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    padding: 35px;
    width: 600px;
    border-radius: 12px;
}
div.img {
    text-align: center;
}
img{
    height: 275px;
    border-radius: 10px;
}
div.titulo {
    font-family: "Young Serif", serif;
    font-size: 18.4px;
}
h1{
    font-weight: 400;
}
div.txtt {
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(24, 5%, 18%);
}
div.preparation{
    padding: 20px;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    background-color: hsl(330, 100%, 98%);
}
div.t-preparation{
    color: hsl(332, 51%, 32%);

}
div.l-preparation{
    color: hsl(332, 51%, 32%);
    list-style: disc;
    font-size: 16px;
    line-height: 30px;
}
p.p-list{
    color: hsl(30, 10%, 34%);
    margin-left: 15px;
}
div.ingredients{
    border-bottom: 1px solid hsl(332, 51%, 32%);

}
div.t-ingredients{
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}
h2.ingredients{
    font-weight: 10;
}
div.l-ingredients{
    font-family: "Outfit", sans-serif;
    color:  hsl(14, 45%, 36%);
    padding-bottom: 20px;
}
div.instructions{
    border-bottom: 1px solid hsl(332, 51%, 32%);
}
div.nutrition{

}
div.t-nutrition{
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}