/* font-family: "Inter", sans-serif;
   font-family: "Outfit", sans-serif; */

body {
    background-color: hsl(330, 100%, 98%);
    display: flex;
    justify-content: center;
    width: 100%;

}

span {
    font-weight: 700;
}

div.div-principal {
    margin-top: 75px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 75px;
    background-color: rgb(255, 255, 255);
    padding: 35px;
    width: 600px;
    height: 1800px;

    border-radius: 12px;
}

div.img {
    text-align: center;
}

img {
    height: 275px;
    border-radius: 10px;
}

div.titulo {
    font-family: "Young Serif", serif;
    font-size: 18.4px;
}

h1 {
    font-weight: 400;
}

div.txtt {
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(24, 5%, 18%);
}

div.preparation {
    padding: 20px;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    background-color: hsl(330, 100%, 98%);
}

div.t-preparation {
    color: hsl(332, 51%, 32%);

}

div.l-preparation {
    color: hsl(332, 51%, 32%);
    list-style: disc;
    font-size: 16px;
    line-height: 30px;
}

p.p-list {
    color: hsl(30, 10%, 34%);
    margin-left: 15px;
}

div.ingredients {
    border-bottom: 1px solid hsl(330, 100%, 98%);

}

div.titulos {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
}

h2.ingredients {
    font-weight: 10;
}

div.l-ingredients {
    font-family: "Outfit", sans-serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 20px;
}

div.instructions {
    border-bottom: 1px solid hsl(330, 100%, 98%);
}

div.t-nutrition {
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
}

div.table1-1 {
    display: flex;
    padding: 1px 30px 1px;
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(330, 100%, 98%);
}

div.table2 {
    color: hsl(14, 45%, 36%);
    display: block;
    padding-left: 16rem
}

div.table2-2 {
    color: hsl(14, 45%, 36%);
    display: block;
    padding-left: 17rem;
}

div.table2-3 {
    color: hsl(14, 45%, 36%);
    display: block;
    padding-left: 16.5rem;
}

div.table2-4 {
    color: hsl(14, 45%, 36%);
    display: block;
    padding-left: 18.2rem;
}

@media(max-width: 500px) {
    div.div-principal {
        max-width: 100%;
        margin-right: 10px;
    }
    div.titulo{
        padding: 12px;
    }
    div.txtt{
        padding: 12px;
    }
    div.ingredients{
        padding: 12px;
    }
    div.instructions{
        padding: 12px;
        border-right: 10px;
    }
    div.nutrition{
        padding: 12px;
    }
    div.table2 {
        color: hsl(14, 45%, 36%);
        display: block;
        padding-left: 9rem
    }

    div.table2-2 {
        color: hsl(14, 45%, 36%);
        display: block;
        padding-left: 10rem;
    }

    div.table2-3 {
        color: hsl(14, 45%, 36%);
        display: block;
        padding-left: 9.5rem;
    }

    div.table2-4 {
        color: hsl(14, 45%, 36%);
        display: block;
        padding-left: 11.2rem;
    }
}